/*************************************************************************************************************************/
/* MAIN CONTENT STYLES START */
/*************************************************************************************************************************/
.main-container {
    background-color: #cacaca;
    font-family: 'Creepster', cursive;
    width: 100vw;
    height: 100vh;
    padding: 10px;
}

.game-container {
    background-color: #cacaca;
    height: 100%;
    width:100%;
}

#flag-artwork {
    width: 50px;
}

#input {
    border-radius: 0.3125rem;
    font-family: "Montserrat", sans-serif;
    outline: none;
    text-align: center;
    display: none;
    margin: 5px 0;
    width: 75%;
    height: 38px;
}

#submit-button {
    display: none;
}
/*************************************************************************************************************************/
/* MAIN CONTENT STYLES START */
/*************************************************************************************************************************/



/*************************************************************************************************************************/
/* CORRECT/WRONG ANSWER ANIMATIONS STYLES START */
/*************************************************************************************************************************/
@keyframes correctAnimation {
      25% {background-color: #008b00;}
      50% {background-color: #086100;}
     100% {background-color: #008b00;}
} 

.correct-answer {
    background-color: #008b00;
    animation: correctAnimation 1s;
}

@keyframes wrongAnimation {
      25% {background-color: #eb0000;}
      50% {background-color: #a00000;}
     100% {background-color: #eb0000;}
} 

.wrong-answer {
    background-color: #eb0000;
    animation: wrongAnimation 1s;
}
/*************************************************************************************************************************/
/* CORRECT/WRONG ANSWER ANIMATIONS STYLES END */
/*************************************************************************************************************************/



/*************************************************************************************************************************/
/* MEDIA QUERIES START
*/
/*************************************************************************************************************************/
@media only screen and (max-width: 500px) {
    #album-artwork {
        width: 80%;
        height: auto;
    }
}
/*************************************************************************************************************************/
/* MEDIA QUERIES END */
/*************************************************************************************************************************/