/*************************************************************************************************************************/
/* UNIVERSAL STYLES START */
/*************************************************************************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    height: 100%;
}

button {
    background-color: #000000;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    letter-spacing: 0.05em;
    outline: none;
    padding: 0.75rem 1.75rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s;
}

button:hover {
    transform: translateY(-.2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}
/*************************************************************************************************************************/
/* UNIVERSAL STYLES END */
/*************************************************************************************************************************/



/*************************************************************************************************************************/
/* MAIN CONTENT STYLES START */
/*************************************************************************************************************************/
.main-container {
    background-color: #cacaca;
    font-family: "Montserrat", sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.game {
    background-color: #cacaca;
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top {
    background-color: #9b9b9b;
    width: 100%;
    margin-bottom: 10px;
}

#score {
    font-size: 1rem;
    letter-spacing: 0.0625rem;
    align-self: flex-start;
    margin: 10px 0 0 10px;
}

#header-text { 
    font-size: 2.5rem;
    font-weight: 900;
    padding-bottom: 10px;
    color: #36454f;
    text-align: center;
}

#album-text-content {
    margin-bottom: 10px;
}

#flag-and-country-div {
    display: flex;
    margin-bottom: 10px;
}
 
#flag-artwork {
    width: 30px;
    margin-right: 5px;
}

#album-artwork {
    height: 50%;
}

#start-button {
    margin: 1% 0;
} 

#submit-button {
    visibility: hidden;
}

#input {
    border-radius: 0.3125rem;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5625rem;
    height: 8%;
    margin: 1% 0;
    outline: none;
    text-align: center;
    visibility: hidden;
}

#final-percentage {
    font-size: 100px;
}
/*************************************************************************************************************************/
/* MAIN CONTENT STYLES START */
/*************************************************************************************************************************/



/*************************************************************************************************************************/
/* CORRECT/WRONG ANSWER ANIMATIONS STYLES START */
/*************************************************************************************************************************/
@keyframes correctAnimation {
      25% {background-color: #008b00;}
      50% {background-color: #086100;}
     100% {background-color: #008b00;}
} 

.correct-answer {
    background-color: #008b00;
    animation: correctAnimation 1s;
}

@keyframes wrongAnimation {
      25% {background-color: #eb0000;}
      50% {background-color: #a00000;}
     100% {background-color: #eb0000;}
} 

.wrong-answer {
    background-color: #eb0000;
    animation: wrongAnimation 1s;
}
/*************************************************************************************************************************/
/* CORRECT/WRONG ANSWER ANIMATIONS STYLES END */
/*************************************************************************************************************************/



/*************************************************************************************************************************/
/* MEDIA QUERIES START
*/
/*************************************************************************************************************************/
@media only screen and (max-width: 400px) {
    #album-artwork {
        width: 90%;
        height: auto;
    }

    #input {
        width: 90%;
    }
}
/*************************************************************************************************************************/
/* MEDIA QUERIES END */
/*************************************************************************************************************************/