* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    height: 100%;
}

.main-container {
    background-color: rgb(202, 202, 202);
    font-family: "Montserrat", sans-serif;
    width: 90vw;
    height: 90vh;
    display: flex;
    margin: 2vh auto;
    justify-content: center;
    align-items: center;
}
  
.game {
    background-color: rgb(202, 202, 202);
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score {
    font-size: 1rem;
    letter-spacing: 0.0625rem;
    align-self: flex-start;
    margin: 10px 0 0 10px;
}

h1 { 
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 10px;
}
 
#flagArtwork {
    height: 4%;
    width: auto;
}

#countryTextContent { 
    height: 5%;
}

#albumTextContent {
    font-weight: 900;
}

#albumArtwork {
    height: 50%;
}

#randomButton {
    margin: 1% 0;
} 

#submitButton {
    visibility: hidden;
}

button {
    background-color: #000;
    border-radius: 10rem;
    border: none;
    color: #fff;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    letter-spacing: 0.05em;
    outline: none;
    padding: 0.75rem 1.75rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s;
}

button:hover {
    transform: translateY(-.2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

input {
    border-radius: 0.3125rem;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5625rem;
    height: 8%;
    margin: 1% 0;
    outline: none;
    text-align: center;
    visibility: hidden;
}

#finalPercentage {
    font-size: 100px;
    margin-top: 80px;
}

/* @keyframes correctAnimation {
    0%   {background-color: rgb(202, 202, 202);}
    25%   {background-color: rgb(0, 139, 0);}
    50%  {background-color: rgb(8, 97, 0);}
    75% {background-color: rgb(0, 139, 0);}
    100%   {background-color: rgb(202, 202, 202);}
} 

@keyframes wrongAnimation {
    0%   {background-color: rgb(202, 202, 202);}
    25%   {background-color: rgb(235, 0, 0);}
    50%  {background-color: rgb(160, 0, 0);}
    75% {background-color: rgb(235, 0, 0);}
    100%   {background-color: rgb(202, 202, 202);}
} */

.correct-answer {
    background-color: rgb(0, 139, 0);
    /* animation: correctAnimation 2s; */
}

.wrong-answer {
    background-color: rgb(235, 0, 0);
    /* animation: wrongAnimation 2s; */
}

/*************************************************************************************************************************/
/* MEDIA QUERIES */
/*************************************************************************************************************************/
@media only screen and (max-width: 524px) {

    .main-container {
        width: 90vw;
        height: 85vh;
        display: flex;
        margin: 1vh auto;
      }
      
    .game {
        background-color: rgb(202, 202, 202);
        width: 90%;
        height: 90%;
    }

    h1 { 
        font-size: 2rem;
    }

    #countryTextContent { 
        font-size: 0.75rem;
    }

    #albumTextContent {
        margin: 0.5rem 0 0 0;
    }

    #albumArtwork {
        height: 40%

    }

    input {
        font-size: 1.5rem;
        width: 70%;
        height: 8%;
        margin: 30px 0 20px 0;
    }

}


@media only screen and (max-width: 369px) {

    h1 { 
        font-size: 1.5rem;
    }

    input {
        font-size: 1rem;
        width: 80%;
        height: 8%;
        margin: 30px 0 20px 0;
    }

}
