* {
    margin: 0;
    padding: 0;
  }
 
body {
    background-color: rgb(223, 223, 223);
}

.container {
    background-color: rgb(202, 202, 202);
    border: solid #000 1px;
    border-radius: 5px;
    font-family: "Metal Mania";
    height: 550px;
    letter-spacing: 2px;
    margin: 10px auto;
    text-align: center;
    width: 450px;
}
 
#score {
    float: left;
    height: 20px;
    letter-spacing: 1px;
    margin: 0 3px;
    position: absolute;
}

h1 { margin: 10px; }
 
#flagArtwork {
    height: 40px;
    width: 70px;

}

#countryTextContent { margin-bottom: 10px; }

#albumTextContent {
    font-weight: bold;
    margin: 5px;
}

#albumArtwork {
    height: 300px;
    width: 300px;
}

#randomButton {
    margin: 10px auto;
} 

#submitButton {
    visibility: hidden;
}

button {
    background-color: rgb(155, 155, 155);
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px rgb(0, 0, 0);
    cursor: pointer;
    display: block;
    font-family: "Metal Mania";
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    outline: none;
    padding: 5px 10px;
    position: relative;
    text-align: center;
}

button:hover {
    box-shadow: 0 4px rgb(0, 0, 0);
    top: 2px;
}

button:active {
    box-shadow: none;
    top: 6px;
}

input {
    border-radius: 5px;
    display: block;
    font-family: "Metal Mania";
    height: 21px;
    margin: 5px auto;
    outline: none;
    text-align: center;
    visibility: hidden;
}
